div#header {
  width: 100%;
  color: #493390;
  padding-bottom: 15px;
}

div#nameplate {
  background-image: url(http://faculty.sfasu.edu/phelpsrt/images/SFAlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
}

div#nameplate h1 {
  text-align: left;
  margin-left: 150px;
  padding-top: 100px;
}

div#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #493390;
}

div#navigation li:first-child {
  border-left: 1px solid white;
}

div#navigation li {
  float: left;
  border-right: 1px solid white;
}

div#navigation li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div#navigation li a:hover {
  text-decoration: underline;
}

div#navigation .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: white;
  min-width: 150px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div#navigation li .dropdown-content a {
  display: block;
  border-top: 1px solid #555;
  text-align: left;
  color: black;
}

div#navigation li .dropdown-content a:first-child {
  border: none;
}

div#navigation .dropdown:hover .dropdown-content {
  display: block;
}

table, th, td {
  text-align: center;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
